name: GitHub Readme Stats

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,6,12,18 * * *"

jobs:
  update-cards:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    name: Update cards
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Ensure output folder
        run: mkdir -p profile
      
      - name: Generate stats (light mode)
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: 'username=${{ github.repository_owner }}&show_icons=true&line_height=28&hide_border=true&card_width=347&include_all_commits=true&role=owner,collaborator&theme=default'
          path: profile/stats-light.svg
          token: ${{ secrets.PAT }}
      
      - name: Generate stats (dark mode)
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: 'username=${{ github.repository_owner }}&show_icons=true&line_height=28&hide_border=true&card_width=347&include_all_commits=true&role=owner,collaborator&theme=dark&bg_color=0d1117&title_color=58a6ff&icon_color=58a6ff&text_color=c9d1d9'
          path: profile/stats-dark.svg
          token: ${{ secrets.PAT }}
      
      - name: Generate top languages (light mode)
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: 'username=${{ github.repository_owner }}&layout=compact&langs_count=8&hide_border=true&role=owner,collaborator&theme=default'
          path: profile/top-langs-light.svg
          token: ${{ secrets.PAT }}
      
      - name: Generate top languages (dark mode)
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: 'username=${{ github.repository_owner }}&layout=compact&langs_count=8&hide_border=true&role=owner,collaborator&theme=dark&bg_color=0d1117&title_color=58a6ff&text_color=c9d1d9'
          path: profile/top-langs-dark.svg
          token: ${{ secrets.PAT }}
      
      - name: Commit cards
        uses: EndBug/add-and-commit@v9
        with:
          add: 'profile/*.svg'
          message: 'docs: update stats and top languages cards'
          author_name: nhat092005
          author_email: nhat092005@users.noreply.github.com
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
